:root {
  --basic-bg-color: #000000;
  --modal-bg-color: #33333388;
  --modal-headfoot-bg-color: #333333;
  --svg-invert: 1;

  --card-slide-time: 1s;
  --card-slide-time-func: cubic-bezier(0, 0.5, 0.5, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --basic-bg-color: #ffffff;
    --modal-bg-color: #ffffffee;
    --modal-headfoot-bg-color: #ffffff;
    --svg-invert: 0;
  }
}

/* styles */
.basic-bg {
  background-color: var(--basic-bg-color);
}

.modal-bg {
  background-color: var(--modal-bg-color);
}

.modal-headfoot-bg {
  background-color: var(--modal-headfoot-bg-color);
}

.svg-invert {
  filter: invert(var(--svg-invert));
}

/* intro animations */
.intro-fade-out__div {
  animation: fade-out 0.5s ease-in forwards;
}

.intro-in__text {
  opacity: 0;
  animation: fade-in 1s ease-out forwards;
}

.intro-out__text {
  animation: fade-out 0.5s ease-out forwards, scale-up 0.5s ease-out forwards;
}

.intro-in__button {
  opacity: 0;
  animation: fade-in 1s ease-out forwards;
  animation-delay: 100ms;
}

.pulse {
  animation: fade-in 1s ease-out forwards, pulse 2s ease-in-out infinite;
}

.intro-out__button {
  animation: fade-out 0.3s ease-out forwards, flash 0.3s ease-out forwards;
}

.sidebar {
  animation: slide-in 0.3s ease-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

/* card's initial animation */
.card1 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 0ms;
}

.card2 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 100ms;
}

.card3 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 200ms;
}

.card4 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 300ms;
}

.card5 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 400ms;
}

.card6 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 500ms;
}

.card7 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 600ms;
}

.card8 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 700ms;
}

.card9 {
  opacity: 0;
  animation: card-slide-in var(--card-slide-time) var(--card-slide-time-func) forwards;
  animation-delay: 800ms;
}

@keyframes card-slide-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  clip-path: inset(-40px 0 -5px)
}
.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g:no-repeat linear-gradient(#ccc 0 0);
  background: var(--g),var(--g),var(--g),var(--g);
  background-size: 16px 14px;
  animation:
    l7-1 2s infinite linear,
    l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100%  {background-position: 0 -50px,100% -50px}
  17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
  35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
  52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
  70%,
  98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
}
@keyframes l7-2 {
  0%,70% {transform:translate(0)}
  100%  {transform:translate(200%)}
}